<!DOCTYPE html>
<html>
  <head>
    <title>AppSocify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
  </head>

  <body>
     <%= render "partials/header" %>
     <div id="page-contents">
       <div class="container">
          <%= yield %>
       </div>
     </div>
     <%= render "partials/footer" %>
     <script>
      window.onscroll = function() {myFunction()};

      var header = document.getElementById("header");
      var sticky = header.offsetTop;

      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>

  </body>
</html>
